
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>
@Html.ActionLink("Modules", "Index", "Modules", null, new { @class = "btn btn-primary btn-large createButton" })
@Html.ActionLink("Chat", "Index", "Chat", null, new { @class = "btn btn-primary btn-large createButton" })

