
@{
    Layout = null;
}

@model List<SubTask>

@foreach (var item in Model)
{   <div class="col-lg-12">
        <input type="checkbox" class="form-check-input" id="Check1">
        <label class="form-check-label">@item.SubTaskName</label>

    </div>
}