
@{
    Layout = null;
}

@model List<SubTask>


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SubTask Name</th>
                <th scope="col">Completed</th>
        
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th scope="row">@item.TaskID</th>
                    <td>@item.SubTaskName</td>
                    <td><input type="checkbox" id="Check1"></td>
                </tr>
            }
        </tbody>
    </table>

